# Moving Averages

[Video](https://www.youtube.com/watch?v=r71hWIUscV4&list=PL3N9eeOlCrP5cK0QRQxeJd6GrQvhAtpBK&index=4)

[Github repo](https://github.com/srivatsan88/End-to-End-Time-Series)

In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import seaborn as sns

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime

import pandas as pd

try:
  from download import download
except:
  !pip install download
  from download import download
  
mpl.rcParams['figure.figsize'] = (8,6)
mpl.rcParams['axes.grid'] = False

In [2]:
def parse(x):
  return datetime.strptime(x, '%m/%d/%Y')

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv', parse_dates = ['Bill_Date'],date_parser=parse)
df.head()

   Bill_Date  On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
0 2016-01-01      365    1423.5         219.0         247.73            31
1 2016-02-01      292    1138.8         175.2         234.11            31
2 2016-03-01      130     507.0          78.0         123.85            29
3 2016-04-01      117     456.3          70.2         111.22            29
4 2016-05-01      136     530.4          81.6         118.37            29